
/* import css files*/ 
@import url(./assets/css/_variables.css);
/* include header css file */
@import url(./assets/css/_header.css);
/* Global css file  */
@import url(/assets/css/_global.css);
/* include Grid css file */
@import url(/assets/css/_grid.css);

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}
body{
    font: normal 900 1rem var(--font-rale);
    background: var(--dark);
}
